body{
    background-color: white;
    margin:0;
    padding:0;
}

#header{
    text-align: center;
    font-size: 15px;
    float: left;
    left: 225px;
    position: relative;
}

.top-right-nav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:orange;
    height:39px;
}
.top-right-nav-item{
    float:right;
}
.top-middle-nav-item{
    float:center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 6px;
    text-decoration: none;
    position: relative;
    right: 263px;
    font-size: 16px;
  }
  li a:hover {
    background-color: blue;
  }

  .your-logo-container{
    background-color: lightgray;
    height: 112px;
    margin-top: -46px;
  }

  .your-logo{
    font-size: 46px;
    position: relative;
    left: 220px;
    top: 28px; 
  }

  .your-logo-nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position: relative;
    bottom: 53px;
    right: 310px;
}
  .your-logo-nav-li{
    display: inline;
    padding: 5px;
  }

.navigation-li{
    display: inline;
}

#navigation-options{
    list-style-type: none;
    overflow: hidden;
    float: left;
    margin: 17px;
    padding: 40px;
    left: 137px;
    position: relative;
}

#contact-header{
    position: relative;
    top: 100px;
    right: 102px;
}

.contact{
    color:orange;
}

#contact-us-form{
    position: relative;
    top: 133px; 
}

.contact-us-header{
    font-size: 28px;
    left: -99px;
    position: relative;
    color: orange;
}

.name{
    width: 500px;
    height: 23px;
    left: 234px;
    position: relative;
}

.phone{
    display: inline-block;
    position: relative;
    top: 38px;
    right: 275px;
    height: 23px;
    width: 229px;
}

.email{
    display: inline-block;
    position: relative;
    top: 38px;
    right: 275px;
    height: 23px;
    width: 260px;
}

.contact-message{
        
        top: 127px;
        position: absolute;
        left: 225px;
        align-items: left;
        justify-content: left;
        place-content: left;
        overflow: auto;
        align-content: left;
        margin: 11px;
}

.contact-submit-button{
    position: absolute;
    left: 235px;
    top: 291px;
    background-color: orange;
    color: white;
    width: 83px;
    height: 32px;
}

.reach-us-section{
    right: 500px;
    position: relative;
    top: 19px;
    left: 820px;
}

.reach-us-header{
    font-size: 28px;
    color: orange;
}

.your-logo-nav-li:hover{
    background-color: blue;
}